
.footerContent{
   display: flex;
   width: 95%;
   height: 300px;
   flex-wrap: wrap;
   justify-content: space-around;
   overflow: auto;
}


.footerText .hp, .P{
    color: #fff;
    
    margin: 10px;
    font-weight: 500;
    line-height: 1.2;
}

.P{
    font-size: 20px;
    text-decoration: none;
}

